/* Sidebar 스타일 */
.sidebar {
    width: 80px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
  }
  
  .sidebar-button {
    display: flex;
    flex-direction: column; /* 아이콘 위에 텍스트 배치 */
    align-items: center; /* 중앙 정렬 */
    justify-content: center; /* 세로축 중앙 정렬 */
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}
  
  .sidebar-button:hover {
    opacity: 0.8;
  }
  
  /* 콘텐츠 영역 스타일 */
  .content-area {
    flex-grow: 1;
    padding: 20px;
  }
  