@use "scrollbar";

html, body, #app {
  height: 100%;
}

a {
  color: rgb(var(--v-theme-link));
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(var(--v-theme-primary));
}

.admin {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 56px;

  .search-item-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;

    .v-input {
      flex: unset;
    }
  }

  .v-table > .v-table__wrapper > table > thead > tr > th {
    font-weight: bold;
  }

  .v-breadcrumbs-item--disabled {
    opacity: unset;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

.page {
  padding-block: 5px;
}

.footer {
  color: #aaaaaa;
  padding-block: 5px;
  font-size: 0.75rem;
}

.flex-r {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.title-font {
  font-size: 3rem;
  font-weight: 700;
}

.subtitle-font {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.body-font-lg {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.body-font {
  font-size: 1.1rem;
  font-weight: 600;
}

.text-primary {
  color: rgb(var(--v-theme-primary));
}

.text-primary-darken {
  filter: brightness(10%);
}

.bg-primary-gradient {
  background: linear-gradient(white, rgb(var(--v-theme-primary), 20%));
}

.text-secondary {
  color: rgb(var(--v-theme-secondary));
}
