$scroll-bar-size: 0.3em;

::-webkit-scrollbar {
  background-color: transparent;
  width: $scroll-bar-size;

  &-thumb {
    background-color: #d7d7d7;
    border-radius: 6px;

    &:hover {
      background-color: #a5a5a5;
    }
  }
}
